v<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Random Question</title>
    <link th:href="@{/lista.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/table.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/buttons.css}" rel="stylesheet" type="text/css">
</head>
<body>
<form action="/submitButtons" method="post" th:object="${QuestionForm}">
    <div class="table-responsive">
        <table class="table" border="1">
            <tbody>
            <tr>
                <td th:text="${question.question}" th:field="*{question}"></td>
                <td><input type="hidden" name="id" th:value="${question.id}" th:field="*{id}">To pytanie jest warte 1 punkt</td>
            </tr>
            <tr>
                <td><input type = "submit" class="save_button" name = "button1" th:value="${question.answerA}" th:field="*{answerA}"/></td>
                <td><input type = "submit" class="save_button" name = "button2" th:value="${question.answerB}" th:field="*{answerB}"/></td>
            </tr>
            <tr>
                <td><input type = "submit" class="save_button" name = "button3" th:value="${question.answerC}" th:field="*{answerC}" /></td>
                <td><input type = "submit" class="save_button" name = "button4" th:value="${question.answerD}" th:field="*{answerD}"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</form>
<table>
    <tbody>
    <tr>

    </tr>
    </tbody>
</table>
<ul th:replace="fragments/main::main-links"></ul>
</body>
</html>