<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>All Questions</title>
    <link th:href="@{/lista.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/table.css}" rel="stylesheet" type="text/css">
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Category</td>
        <td>Question</td>
        <td>Answer A</td>
        <td>Answer B</td>
        <td>Answer C</td>
        <td>Answer D</td>
        <td>Valid</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" question : ${questions}">
        <td th:text="${question.id}"></td>
        <td th:text="${question.category}"></td>
        <td th:text="${question.question}"></td>
        <td th:text="${question.answerA}"></td>
        <td th:text="${question.answerB}"></td>
        <td th:text="${question.answerC}"></td>
        <td th:text="${question.answerD}"></td>
        <td th:text="${question.valid}"></td>
    </tr>
    </tr>
    </tbody>
</table>
<ul th:replace="fragments/main::main-links"></ul>
</body>
</html>